<div ng-controller="categoryController">

    <div class="col-xs-3">
        <!--<a ng-click="getCategories()" class="btn btn-block btn-default btn-lg" style="margin-top:2%">Home</a>-->
        <a ng-repeat="item in categories" ng-click="getCategoryForum(item.CategoryId);selectCategory(item.CategoryId)"
           class=" btn btn-block btn-default btn-lg">
            {{item.CategoryName}}
        </a>
        <a href="#" class="btn btn-info" ng-click="addCategory()" style="margin-top:10px;width:100%">Add Category <span class="badge">+</span></a>
        <div ng-show="divCategoryAdd" style="width:100%">
            <form name="ngForm" ng-submit="addCategoryData()">
                <div style="margin-top:10px;">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="color:#3276B1"><b>Add Category</b></div>
                        <div class="panel-body">
                            <table class="table">
                                
                                <tr>
                                    <td><b>Category Name</b></td>
                                    <td>
                                        <input type="text" ng-model="categoryName" class="form-control" required />
                                    </td>  
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="submit" class="btn btn-xs" value="Save" style="background:#4BC0C0;color:white" />
                                        <input type="button" class="btn btn-danger btn-xs" value="Cancel" ng-click="cancel()" />
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-xs-9">
        <div class="panel panel-default" ng-repeat="item in forums">
            <div class="panel-heading">
                <strong>{{item.Title}}</strong>
                <span class="pull-right label label-primary">
                    Created By: {{item.CreatedBy}}
                </span>
            </div>
            <div class="panel-body">
                <div class="media">
                    
                    <div class="media-body">
                        <p>{{item.Contents}}</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a ng-click="deleteForum(item.ForumId)" class="btn btn-danger btn-xs">Archive</a>
                <a ng-click="editForum(item)" class="btn btn-info btn-xs">Edit</a>
            </div>
        </div>

        
        <!--<div class="pull-right btn-group">
            <a ng-repeat="page in data.gadgets | filter:categoryFilterFn | filter:searchItem | pageCount:pageSize"
               ng-click="selectPage($index + 1)" class="btn btn-default" ng-class="getPageClass($index + 1)">
                {{$index + 1}}
            </a>
        </div>-->
    </div>
    <div class="col-xs-3">
    </div>
    <div ng-show="divForumEdit" class="col-xs-9">
        <div style="margin-top:10px;">
            <div class="panel panel-info">
                <div class="panel-heading" style="color:#3276B1"><b>Update Forum</b></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td><b>Forum Id</b></td>
                            <td>
                                <input type="text" disabled="disabled" class="form-control" ng-model="forumId" />
                            </td>
                            <td><b>Title</b></td>
                            <td>
                                <input type="text" ng-model="forumTitle" class="form-control" required />
                            </td>
                        </tr>
                        <tr>
                            <td><b>Contents</b></td>
                            <td>
                                <input type="text" ng-model="forumContents" class="form-control" required />
                            </td>
                            <td><b>Created By</b></td>
                            <td>
                                <input type="text" ng-model="forumCreatedBy" class="form-control" required />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="button" class="btn btn-xs" value="Save" ng-click="editForumData()" style="background:#4BC0C0;color:white" />
                                <input type="button" class="btn btn-danger btn-xs" value="Cancel" ng-click="cancel()" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
